@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@font-face {
    font-family: 'MadPixels';
    src: local('MadPixels'), url(./MadPixels.otf) format('opentype');
}

body{
    background: linear-gradient(
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.5)
    ),
    url("./components/images/lee-qian-yi-kyoko-lab.jpg");
    background-size: cover;
    background-blend-mode: darken;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,span,div,ul,li,ol{
    display: flex;
    color: white;
}

.card{
    background-color: yellow;
    -webkit-box-shadow: 0 16px 24px 2px rgb(0 0 0 / 34%), 0 6px 30px 5px rgb(0 0 0 / 32%), 0 8px 10px -7px rgb(0 0 0 / 40%);
    box-shadow: 0 16px 24px 2px rgb(0 0 0 / 34%), 0 6px 30px 5px rgb(0 0 0 / 32%), 0 8px 10px -7px rgb(0 0 0 / 40%);

}

/* Containers */
.container-full{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
}

.header {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

.container-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.container-fluid {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.justify-start {
    display: flex;
    justify-content: left;
}


h1.large {
    display: flex;
    justify-content: center;
    font-size: 72px;
    font-family: MadPixels;
    color: rgb(0, 156, 0);
    padding: 10px;
}

h3.green {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 32px;
    font-family: MadPixels;
    color: rgb(0, 156, 0);
}

p.center {
    display: flex;
    justify-content: center;
}

/* Buttons */

.cta-button-large {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: 5px;
    width: 500px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
  }

  .cta-button-small {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    border: 5px;
    width: 200px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-radius: 20px;
  }


.connect-wallet-button {
    background: -webkit-linear-gradient(225deg, #1d9904 100%, #012906 50%, #011102 0%);
    background-size: 200% 200%;
    animation: gradient-animation s ease infinite;
  }



/* Animations */

.image-fader {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    margin-top: 100px;
}

.image-fader img {
    width: 250px;
    height: 250px;
    position: absolute;
    animation-name: imagefade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
  }
  
  @keyframes imagefade {
    0% {
      opacity:1;
    }
    17% {
      opacity:1;
    }
    25% {
      opacity:0;
    }
    92% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  .image-fader img:nth-of-type(1) {
    animation-delay: 6s;
  }
  .image-fader img:nth-of-type(2) {
    animation-delay: 4s;
  }
  .image-fader img:nth-of-type(3) {
    animation-delay: 2s;
  }
  .image-fader img:nth-of-type(4) {
    animation-delay: 0;
  }

